<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/learning/grammar.css">
</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <header id="main-header">
        <div class="logo">
            <a href="/start">Adler</a>
        </div>
    
        <div class="user-menu">
            <button id="user-name"><%= user.name %> ▼</button>
            <div class="dropdown-menu" id="dropdown-menu">
                <a href="/profile">Профіль</a>
                <a href="/settings">Налаштування</a>
                <% if (user.role === "admin") { %>
                    <a href="/admin-tools">Інструменти</a>
                <% } %>
                <a href="/logout">Вийти</a>
            </div>
        </div>
    </header>
    
    
    <div class="container">
        
        <div class="topics">
            <div class="topic-card" data-link="/Verben-mit-Prapositionen">
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/Verben-mit-Prapositionen.webp" alt="Verben mit Präpositionen">
                <h2>Verben mit Präpositionen</h2>
                <p>Дієслова з прийменниками</p>
            </div>
            <div class="topic-card" data-link="/Trennbare-Verben">
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/Trennbare-Verben.webp" alt="Trennbare Verben">
                <h2>Trennbare Verben</h2>
                <p>Розділювані дієслова</p>
            </div>
            <div class="topic-card" data-link="/Konjunktiv_II">
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/Konjunktiv-II.webp" alt="Konjunktiv II">
                <h2>Konjunktiv II</h2>
                <p>Умовний спосіб</p>
            </div>
            <div class="topic-card" data-link="Passiv"> 
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/Passiv.webp" alt="Passiv">
                <h2>Passiv</h2>
                <p>Пасивний стан</p>
            </div>
            <div class="topic-card" data-link="Adjektivdeklination">
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/Adjektivdeklination.webp" alt="Adjektivdeklination">
                <h2>Adjektivdeklination</h2>
                <p>Відмінювання прикметників</p>
            </div>
            <div class="topic-card" data-link="Prateritum">
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/Prateritum.webp" alt="Präteritum">
                <h2>Präteritum</h2>
                <p>Минулий час</p>
            </div>
        </div>
    </div>
    
    

    <footer>
        <p>© 2025 Adler. Усі права захищені.</p>
    </footer>
    <script src="/js/learning/grammar.js" defer>
        
    </script>

  
</body>
</html>

    
    
    
   
   
   