<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/learning/start.css">
</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <header id="main-header">
        <div class="logo">
            <a href="/start">Adler</a>
        </div>
    
        <div class="user-menu">
            <button id="user-name"><%= user.name %> ▼</button>
            <div class="dropdown-menu" id="dropdown-menu">
                <a href="/profile">Профіль</a>
                <a href="/settings">Налаштування</a>
                <% if (user.role === "admin") { %>
                    <a href="/admin-tools">Інструменти</a>
                <% } %>
                <a href="/logout">Вийти</a>
            </div>
        </div>
    </header>
    
    
    <% if (!user.knowledge_level) { %>
        <div class="test-warning">
            <p>Перед використанням сайту вам потрібно пройти оцінювальний тест.</p>
            <a href="/test" class="test-button">Пройти тест</a>
        </div>
    <% } %>
    
    <div class="learning-options">
       
        <div class="options-grid">
            <div class="option-card" data-link="/grammar">
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/grammar.webp" alt="grammar">
                <h3> Граматика</h3>
                <p>Вивчайте правила та покращуйте свої знання граматики.</p>
            </div>
            <div class="option-card" data-link="/reading">
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/reading.webp" alt="reading">
                <h3>Читання</h3>
                <p>Практикуйте читання текстів та розуміння інформації.</p>
            </div>
            <div class="option-card" data-link="/writing">
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/writing.webp" alt="writing">
                <h3> Написання текстів</h3>
                <p>Розвивайте навички написання текстів та есе.</p>
            </div>
            <div class="option-card" data-link="/exam-prep">
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/exam-prep.webp" alt="exam-prep">
                <h3> Підготовка до здачі</h3>
                <p>Готуйтеся до офіційних тестів із німецької мови.</p>
            </div>
            <div class="option-card" data-link="/tests">
                <img src="https://nikkme.fra1.cdn.digitaloceanspaces.com/images/tests.webp" alt="tests">
                <h3> Проходження тестів</h3>
                <p>Проходьте тести для оцінки знань та підготовки.</p>
            </div>
        </div>
    </div>
    
    

   
        
        
    
    

    <footer>
        <p>© 2025 Adler. Усі права захищені.</p>
    </footer>
    <script src="/js/learning/start.js" defer>
        
    </script>

  
</body>
</html>

    
    
    
   
   