# Скомпільований код
/build

# Локальні налаштування
/local.properties
/.idea/workspace.xml
/.idea/libraries

# Файли, згенеровані системою
.DS_Store

# Файли, згенеровані Gradle
/.gradle
/captures

# Вихідні файли
*.apk
*.aab
*.ap_
*.jar
*.war
*.ear

# Файли логів
*.log