<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакти - EcoGuard</title>

    <link rel="stylesheet" href="/style/system/admin-panel.css"> 
     <link rel="stylesheet" href="/style/partials/footer_header.css">
    <link rel="icon" href="https://placehold.co/32x32/3498db/ffffff?text=EG" type="image/x-icon">
</head>
<body>

  <%- include('../partials/header') %>


 <%- include('../partials/footer') %>


    <script src="/js/system/admin-panel.js" defer></script>
<script src="/js/partials/footer.js" defer></script>
</body>
</html>
